$('.modal-body').empty();
<<<<<<< HEAD
$('.modal-body').append('<%= j render "form" %>');
$('.modal-title').html('Edit a Food Item')
$('.edit_food').append('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>');
$('#food-modal').modal('show');
=======
$('.modal-body').append('<%= j render "modal_form" %>');
$('#modal-form').modal('show')
>>>>>>> a7a1bb59ca53dbc3d6e10aa1b9b01247562cc102
