$red: #B52121;
$dark-brown: #4E2A2A;

html {
  background: image-url('almonds-gradient.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  background-color: transparent;
  font-family: 'Lato', sans-serif;
}
