.navbar{
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 0;
  border: none;
  .navbar-brand{
    color: $dark-brown;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .navbar-brand:hover{
    color: black;
  }
}
.navbar-default .navbar-nav > li > a{
  color: $dark-brown;
  font-weight: 800;
}
.navbar-default .navbar-nav > li > a:hover{
  color: black;
}
