.navbar{
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 0;
  border: none;
  .navbar-brand{
    color: $dark-brown;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .navbar-brand:hover{
    color: black;
  }
}
.navbar-default .navbar-nav > li > a{
  color: $dark-brown;
  font-weight: 800;
}
.navbar-default .navbar-nav > li > a:hover{
  color: black;
}
.navbar-default .navbar-toggle {
  border-color: inherit;
}
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $dark-brown;
}

@media screen and (max-width: 768px){
  .navbar-collapse{
    background-color: rgba(255, 255, 255, 0.2);
    border-color: $dark-brown;
  }
}
