.byline{
  font-weight: 400;
  margin: 0;
}

.index-container{
  .index-text{
    padding: 10% 5%;
    display: inline-block;
    .headline{
      font-weight: 800;
      color:  $dark-brown;
      margin: 0;
      font-size: 58px;
    }
    .byline{
      margin: 5px 0 15px 0;
      color: #EAEAEA;
      font-size: 26px;
    }
    .index-btn{
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: .5px;
      font-weight: 500;
      font-size: 15px;
      border-radius: 10px;
      padding: 10px 20px;
      border: none;
      background-color: $red;
      color: white;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
  }
}
