<%= @tracking_period.calorie_count %>
<% if @foods %>
  <% @foods.each do |food| %>
    <% food.name %>
  <% end %>
<% else %>
  <p>Test Food</p>
<% end %>

<%= link_to 'Add a Food', tracking_periods_foods_path(@tracking_period), remote: true %>
